<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="index" value="http://the-internet.herokuapp.com/"/>
    <add key="add_remove_elements" value="add_remove_elements"/>
    <add key="basic_authentication" value="basic_auth"/>
    <add key="form_authentication" value="login"/>
  </appSettings>
</configuration>
