<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base" value="the-internet.herokuapp.com/"/>
    <add key="index" value="http://the-internet.herokuapp.com/"/>
    <add key="invalid" value="error"/>
    <add key="add_remove_elements" value="add_remove_elements/"/>
    <add key="basic_authentication" value="basic_auth"/>
    <add key="checkboxes" value="checkboxes"/>
    <add key="digest_authentication" value ="digest_auth"/>
    <add key="drag_and_drop" value="drag_and_drop"/>
    <add key="form_authentication" value="login"/>
    <add key="frames" value="frames"/>
    <add key="hovers" value="hovers"/>
    <add key="iframe" value="iframe"/>
    <add key="nested_frames" value="nested_frames"/>
    <add key="secure_area" value="secure"/>
    <add key="javascript_alerts" value="javascript_alerts"/>
  </appSettings>
</configuration>
